* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.btn {
  background-color: #0e9474;
  border-radius: 8%/20%;
  border-color: #0e9474;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: #51af99;
  color: white;
  border-color: #0e9474;
}
