* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #0e9474 !important;
  border-radius: 8%/20%;
  border-color: #0e9474 !important;
  font-weight: bold;
}

.btn:hover {
  background-color: #51af99 !important;
  border-color: #0e9474 !important;
}
